# Predicting Crypto Price Change

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
sns.set_style('darkgrid')
sns.set_context('poster', font_scale=1)

from time import sleep, time
from datetime import timedelta, datetime, date, timezone
import requests
pd.options.display.max_columns = 30
pd.options.display.max_colwidth = 60

import coinmarketcap

## Get Bitcoin Close Price via CoinDesk API

In [40]:
cd = requests.get('https://api.coindesk.com/v1/bpi/historical/close.json?start=2017-01-01&end=2018-02-03')
assert cd.status_code == 200
cd = cd.json()['bpi']
df = pd.DataFrame(list(cd.items()), columns=['date', 'close_price'])
df.date = pd.to_datetime(df.date)
df.sort_values('date', inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

        date  close_price
0 2017-01-01     997.6888
1 2017-01-02    1018.0500
2 2017-01-03    1030.8175
3 2017-01-04    1129.8700
4 2017-01-05    1005.8150

In [41]:
df.describe(include='all')

                       date   close_price
count                   398    398.000000
unique                  398           NaN
top     2017-10-30 00:00:00           NaN
freq                      1           NaN
first   2017-01-01 00:00:00           NaN
last    2018-02-02 00:00:00           NaN
mean                    NaN   4711.073143
std                     NaN   4557.391620
min                     NaN    775.981300
25%                     NaN   1230.619750
50%                     NaN   2738.578150
75%                     NaN   5893.510350
max                     NaN  19343.040000

## Get CryptoPanic Data

In [48]:
## READ IN RESULTS OF LAST API REQUEST
panic = pd.read_csv('../exported_csvs/cryptopanic-api-results.csv', encoding='utf-8')
panic.published_at = pd.to_datetime(panic.published_at)
print (panic.shape)

(289, 21)

#### Look at daily breakdown

In [49]:
daily_btc = panic.set_index('published_at').resample('D').sum()[['important', 'positive', 'negative']]

In [50]:
daily_btc

              important  positive  negative
published_at
2018-01-26          176       276       158
2018-01-27          109       129        27
2018-01-28          211       368        52
2018-01-29          207       389        86
2018-01-30          296       356       326
2018-01-31          290       559        49
2018-02-01          433       763       170
2018-02-02          211       410        78
2018-02-03          196       182        43

In [52]:
panic.published_at = pd.to_datetime(panic.published_at)
panic.describe(include='all')

,published_at,important,positive,negative,BTC,ETH,XRP,BCH,LTC,XLM,EOS,NEO,MIOTA,DASH,XMR,VEN,source,title,domain,id,url
count,289,289.000000,289.000000,289.000000,289.0,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.0,289,289,289,289.000000,289
unique,288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,289,37,NaN,289
top,2018-01-30 18:58:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bitcoin.com,"Montana is Home to New 53 Acre, $75 Million Bitcoin Mini...",bitcoin.com,NaN,https://cryptopanic.com/news/910732/Lawyers-Are-Taking-P...
freq,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,1,40,NaN,1
first,2018-01-26 10:18:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2018-02-03 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,7.366782,11.875433,3.422145,1.0,0.131488,0.048443,0.124567,0.062284,0.006920,0.013841,0.013841,0.013841,0.010381,0.020761,0.0,NaN,NaN,NaN,932292.349481,NaN
std,NaN,10.154898,13.980084,9.075398,0.0,0.338519,0.215073,0.330801,0.242089,0.083044,0.117033,0.117033,0.117033,0.101531,0.142831,0.0,NaN,NaN,NaN,58812.228282,NaN
min,NaN,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,15246.000000,NaN
25%,NaN,2.000000,3.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,916949.000000,NaN
50%,NaN,4.000000,7.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,936727.000000,NaN
75%,NaN,10.000000,16.000000,3.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,NaN,954680.000000,NaN
max,NaN,84.000000,85.000000,102.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,NaN,NaN,NaN,974667.000000,NaN